{% extends "tpl.html" %}
{% block content %}

    <p class="is-size-4 subtitle">
        Fill this form to contribute. <a href="#">Everything is strictly anonymous</a>, don't worry!
    </p>

    <div id="error-message" class="notification is-danger {% if not errors %}is-hidden{% endif %}">
        {% for x in errors %}
            {{ x }}<br/>
        {% else %}
            {{ _("(no error... yet)") }}
        {% endfor %}
    </div>
    <form action="{{ url_for('multilingual.form') }}" method="post" name="main_form">
        <div class="field">
            <label for="distancing" class="label">Did you find yourself in a situation where social distancing constraints were difficult to satisfy these last seven days?</label>
            {% set times = [('never', _('Never')),
                                 ('rarely', _("Rarely (1-2 times)")),
                                 ('sometimes', _("Sometimes (3-5 times)")),
                                 ('often', _("Often (5-10 times)")),
                                 ('always', _("Always"))] %}
            <div class="control">
                <div class="columns">
                    {% for value, name in times %}
                        <div class="column">
                            <input class="is-checkradio is-block is-custom-checkradio-block"
                                   id="status_distancing_{{ value }}" type="radio"
                                   name="status" value="{{ value }}" required>
                            <label for="status_distancing_{{ value }}">{{ name }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="field">
            <label for="homeworking" class="label">Does your job allows you to homework?</label>
            {% set times = [('never', _('Never')),
                                 ('rarely', _("Rarely (1 day a week)")),
                                 ('sometimes', _("Sometimes (2-3 days a week)")),
                                 ('always', _("Always")),
                                 ('not', _("Doesn't apply (I don't have a job)"))] %}
            <div class="control">
                <div class="columns">
                    {% for value, name in times %}
                        <div class="column">
                            <input class="is-checkradio is-block is-custom-checkradio-block"
                                   id="status_homeworking_{{ value }}" type="radio"
                                   name="status" value="{{ value }}" required>
                            <label for="status_homeworking_{{ value }}">{{ name }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div>
            <p>
                <label for="household" class="label">How many persons do you live with (you included)?</label>
                <input type="number" name="household" id="household" class="input is-primary" value=""/>
            <p>
        </div>
        <div>
            <p>
                <label for="leave_house" class="label">How many times did you leave your home for something else than work these last seven days? </label>
                <input type="number" name="left_house" id="left_house" class="input is-primary" value=""/>
            </p>
        </div>
        <div class="field">
            <label for="preventing" class="label">I'm doing everything I can to prevent spreading or being contaminated by COVID-19</label>
            {% set times = [     ('strongly_disagree', _("Strongly disagree")),
                                 ('disagree', _("Disagree")),
                                 ('neutral', _("Neutral")),
                                 ('agree', _("Agree")),
                                 ('strongly_agree', _('Strongly disagree'))] %}
            <div class="control">
                <div class="columns">
                    {% for value, name in times %}
                        <div class="column">
                            <input class="is-checkradio is-block is-custom-checkradio-block"
                                   id="status_prevent_{{ value }}" type="radio"
                                   name="status" value="{{ value }}" required>
                            <label for="status_prevent_{{ value }}">{{ name }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div>
            <p>
                <label for="meeting" class="label">How many persons did you meet (same room or <3m) in the last 7 days, excluding persons you live with? </label>
                <input type="number" name="person_met" id="person_met" class="input is-primary" value=""/>
            </p>
        </div>
        <div class="field">
            <div class="buttons is-centered" style="margin-top: 3em">
                <button type="submit" class="button is-primary is-large">Click here to finish</button>
            </div>
        </div>
    </form>
{% endblock %}