{% extends "tpl.html" %}
{% block content %}

    <p class="is-size-4 subtitle">
        Fill this form to contribute. <a href="#">Everything is strictly anonymous</a>, don't worry!
    </p>

    <form action="{{ url_for('multilingual.form') }}" method="post">
        <div class="field">
            <label for="sex" class="label">Sex</label>
            <div class="control">
                <div class="columns">
                    <div class="column">

                        <input class="is-checkradio is-block is-custom-checkradio-block" id="sex_male" type="radio"
                               name="sex" value="male" required>
                        <label for="sex_male">Male</label>
                    </div>
                    <div class="column">
                        <input class="is-checkradio is-block is-custom-checkradio-block" id="sex_female" type="radio"
                               name="sex" value="female" required>
                        <label for="sex_female">Female</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <label for="age" class="label">Age</label>
            <div class="control">
                <div class="select is-primary">
                    <select name="age" id="age" required>
                        <option value="">{{ _("Select your age") }}</option>
                        {% for i in range(0, 125, 5) %}
                            <option value="{{ i }}">{{ i }} - {{ i + 4 }} years</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <label for="status" class="label">How likely is it that you suffer(ed) from COVID-19?</label>
            {% set statuses = [('extremely_unlikely', _('Extremely unlikely')),
                                 ('unlikely', _("Unlikely")),
                                 ('neutral', _("Maybe (I had or still have some symptoms)")),
                                 ('likely', _("Likely (I had or still have most symptoms)")),
                                 ('certain', _("Certain (confirmed by medical test)"))] %}
            <div class="control">
                <div class="columns">
                    {% for value, name in statuses %}
                        <div class="column">
                            <input class="is-checkradio is-block is-custom-checkradio-block"
                                   id="status_covid_{{ value }}" type="radio"
                                   name="status" value="{{ value }}" required>
                            <label for="status_covid_{{ value }}">{{ name }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="field">
            <label for="timing" class="label">When were you sick?</label>
            <div class="columns">
                <div class="column">
                    <label for="timing_covid" class="label">From</label>
                    <div class="control">
                        <input type="date" class="input is-primary" name="timing_from" id="timing_covid_from" value=""/>
                    </div>
                    <p class="help">Put the date where your first symptom appeared</p>
                </div>
                <div class="column">
                    <label for="timing_covid" class="label">To</label>
                    <div class="control">
                        <input type="date" class="input is-primary" name="timing_to" id="timing_covid_to" value=""/>
                    </div>
                    <p class="help">If you are still ill, please put any date in the future</p>
                </div>
            </div>
        </div>
        <div class="field">
            <label for="symptoms" class="label">Which symptoms did you experience?</label>
            <div class="control">
                <div class="columns">
                    {% set symptoms = [('caugh', _('Dry Cough')),
                                 ('fever', _("Fever")),
                                 ('smell', _("Sudden loss of smell")),
                                 ('breathing', _("Breathing difficulties")),
                                 ('tiredness', _("Tiredness"))] %} {# TODO: finish the list #}
                    {% for value, name in symptoms %}
                        <div class="column">
                            <input class="is-checkradio is-block is-custom-checkradio-block"
                                   id="symptoms_{{ value }}" type="checkbox"
                                   name="symptoms_{{ value }}">
                            <label for="symptoms_{{ value }}">{{ name }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="field">
            <div class="buttons is-centered" style="margin-top: 3em">
                <button type="submit" class="button is-primary is-large">Click here to continue</button>
            </div>
        </div>

    </form>
{% endblock %}