{% extends "tpl.html" %}
{% block content %}
    FORM. Password: {{ password }}
    <form action="form" method="post">
        <p>
            <label for="distancing">Did you find yourself in a situation where social distancing constraints were difficult to satisfy these last seven days?</label>
        </p>
        <ul>
            <li>
                <input type="radio" name="status" id="status_distancing_1" value="distancing"/>
                <label for="status_distancing">Never</label>
            </li>
            <li>
                <input type="radio" name="status" id="status_distancing_2" value="distancing"/>
                <label for="status_distancing">Rarely</label>
            </li>
            <li>
                <input type="radio" name="status" id="status_distancing_3" value="distancing"/>
                <label for="status_distancing">Sometimes</label>
            </li>
            <li>
                <input type="radio" name="status" id="status_distancing_4" value="distancing"/>
                <label for="status_distancing">Often</label>
            </li>
            <li>
                <input type="radio" name="status" id="status_distancing_5" value="distancing"/>
                <label for="status_distancing">Always</label>
            </li>
        </ul>
         <p>
            <label for="homeworking">Does your job allows you to homework?</label>
        </p>
        <ul>
            <li>
                <input type="radio" name="status" id="status_homeworking_1" value="homeworking"/>
                <label for="status_homeworking">Never</label>
            </li>
            <li>
                <input type="radio" name="status" id="status_homeworking_2" value="homeworking"/>
                <label for="status_homeworking">Rarely</label>
            </li>
            <li>
                <input type="radio" name="status" id="status_homeworking_3" value="homeworking"/>
                <label for="status_homeworking">Sometimes</label>
            </li>
            <li>
                <input type="radio" name="status" id="status_homeworking_4" value="homeworking"/>
                <label for="status_homeworking">Often</label>
            </li>
            <li>
                <input type="radio" name="status" id="status_homeworking_5" value="homeworking"/>
                <label for="status_homeworking">Always</label>
            </li>
            <li>
                <input type="radio" name="status" id="status_homeworking_6" value="homeworking"/>
                <label for="status_homeworking">Do not apply (I don't have a job)</label>
            </li>
        </ul>
        <p>
        <label for="household">How many persons do you live with (you included)?</label>
        </p>
        <input type="number" name="household" id="household" value=""/>
        <p>
            <label for="leave_house">How many times did you leave your home for something else than work these last seven days? </label>
        </p>
        <input type="number" name="left_house" id="left_house" value=""/>
        <p>
            <p>
            <label for="preventing">I'm doing everything I can to prevent spreading or being contaminated by COVID-19</label>
        </p>
        <ul>
            <li>
                <input type="radio" name="status" id="status_preventing_1" value="preventing"/>
                <label for="status_preventing">Strongly disagree</label>
            </li>
            <li>
                <input type="radio" name="status" id="status_preventing_2" value="preventing"/>
                <label for="status_preventing">Disagree</label>
            </li>
            <li>
                <input type="radio" name="status" id="status_preventing_3" value="preventing"/>
                <label for="status_preventing">Neutral</label>
            </li>
            <li>
                <input type="radio" name="status" id="status_preventing_4" value="preventing"/>
                <label for="status_preventing">Agree</label>
            </li>
            <li>
                <input type="radio" name="status" id="status_preventing_5" value="preventing"/>
                <label for="status_preventing">Strongly agree</label>
            </li>
        </ul>
        <p>
            <label for="meeting">How many persons did you meet in the last 7 days (in the same room or < 3m, excluding persons you live with)? </label>
        </p>
        <input type="number" name="person_met" id="person_met" value=""/>
        <p>
        <button type="submit">Click here to finish</button>
    </form>
{% endblock %}