<html>
    <head>
        <title>{{ title }}</title>

        <!-- Latest compiled and minified CSS -->

        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">

        <link href="{{ url_for('static', filename='js/bootstrap.js') }}" rel="stylesheet">


    </head>
    <body>
        {% block header %}
            <div>HEADER</div>
        {% endblock %}
        {% block content %}
            <div>CONTENT</div>
        {% endblock %}
        {% block footer %}
            <div>FOOTER</div>
        {% endblock %}
    </body>
</html>